html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

h1{
	font-size: 3rem;
	margin: 0;
}

li{
	padding: 5px;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: #4af;
}

body{
	background-color: #49a;
	color: #fff;
	display: flex;
	justify-content: center;
}

#wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(33,33,33,0.5);
	overflow: hidden;
	padding: 0 50px;
}

#main{
	text-align: center;
	padding: 20px;
}

footer{
	margin-top: 50px;
}